textarea {
    width: 100%;
    min-height: 120px;
    padding: 12px;
    border-radius: 10px;
    background: #0b1a2a;
    border: 1px solid #00f5ff;
    color: #00f5ff;
    margin-bottom: 15px;
    resize: none;
}

.result-box {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

#hashOutput {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background: #0b1a2a;
    border: 1px solid #00f5ff;
    color: #00f5ff;
}

.metrics {
    margin-top: 15px;
    color: #aaa;
}
