/* PIN CARD */
.pin-card {
  background: rgba(15,25,60,0.25);
  border: 1px solid rgba(46,168,255,0.2);
  padding: 35px;
  border-radius: 24px;
  backdrop-filter: blur(16px);
  margin-top: 30px;
  transition: 0.3s ease;
}
.hero h1 {
  text-shadow: 0 0 12px rgba(46,168,255,0.7);
}
.pin-card:hover {
  box-shadow: 0 0 25px rgba(31,162,255,0.6);
}

/* INPUT */
.pin-card input {
  width: 90%;
  max-width: 420px;
  margin: 0 auto 25px auto;
  display: block;
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #2ea8ff;
  background: rgba(15,25,60,0.6);
  color: white;
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 25px;
}

.pin-card input::placeholder {
  color: rgba(255,255,255,0.5);
}

/* CONTROLS */
.controls {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* SELECT */
select {
  padding: 12px 18px;
  border-radius: 20px;
  background: rgba(15,25,60,0.6);
  color: white;
  border: 1px solid #2ea8ff;
  outline: none;
}

/* BUTTON EFFECT */
.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px rgba(46,168,255,0.9);
}
